﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@*using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
@Html.AntiForgeryToken()
<div id="socialLoginList">
    <p>
       <button type="submit" class="btn btn-default" id="Google" name="provider" value="Google" title="Log in using your Google account">Google</button>
    </p>
</div>*@